<div>
  <form [formGroup]="form" (ngSubmit)="logIn()">
    <div class="box" formGroupName="credentials">
      <div class="in">
        <label for="email">Email</label>
        <input type="text" formControlName="email" />
        <div *ngIf="this.form.get('credentials.email').hasError('required') && !this.form.get('credentials.email').pristine">
          Email is required
        </div>
      </div>
      <div class="in">
        <label for="password">Password</label>
        <input type="password" formControlName="password" />
        <div *ngIf="this.form.get('credentials.password').hasError('required') && !this.form.get('credentials.password').pristine">
          Password is required
        </div>
      </div>
    </div>
    <div class="in" formGroupName="additions">
      <label for="remember">Remember me
        <input type="checkbox" name="remember" formControlName="rememberMe"/>
      </label>
    </div>
    <div class="buttons">
      <button type="submit">Submit</button>
    </div>

  </form>

  <div *ngIf="error" class="error">
    <p><span>Statuscode: </span>{{error.status}}</p>
    <p><span>Reason: </span>{{error.statusText}}</p>
  </div>
</div>