@import "../../../global.scss";

:host {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  // background-color: green;
  height: 100%;
  margin: 5em 10em;
  align-self: center;
  align-items: center;
  padding: 100px;
  background-color: rgba(128, 128, 128, 0.1);

  h1 {
    font-size: 36pt;
  }

  > div {
    display: flex;
    flex: 1;
    align-items: center;

    form {
      display: flex;
      flex-direction: column;
      width: 500px;

      .in {
        display: flex;
        flex-direction: column;

        label {
          display: flex;
          color: $orange;
          font-size: 24px;
        }

        input {
          box-sizing: border-box;
        }
      }
      .box {
        .in {
          input {
            height: 75px;
            width: 100%;
            border: $grey 1px solid;
            border-radius: 10px;
            color: $dark;
            font-size: 24px;
            padding: 25px;
          }
        }
      }

      .buttons {
        display: flex;
        justify-self: flex-end;
        flex-direction: column;

        > button {
          @extend %button;
          height: 100px;
          width: 100%;
          border: none;
          font-size: 32px;
        }
      }
      > .in {
        margin: 50px 0;
        justify-content: center;
      }
    }
  }
}
