@import "../../global.scss";

:host {
  $p: 20px;

  display: flex;
  box-sizing: border-box;
  height: 150px;
  width: 100%;
  margin: 0;
  padding: $p;
  background-color: $black;
  align-items: center;

  .imgbox {
    display: inline-flex;
    background-color: $grey;
    border-radius: 10px;
    height: 100px;
    width: 100px;
  }

  .namebox {
    h1 {
      margin: 25px;
      color: #efe2dc;
      letter-spacing: 2px;
    }
  }

  .buttonbox {
    margin-left: auto;

    button {
      @extend %button;
      height: 60px;
      width: 200px;
      font-size: 26pt;
      font-weight: 900;
      border: none;
      // padding: 20px 40px;
    }
  }
}
