@import "../../global.scss";

:host {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  background-color: #6c5ce7;

  .imgbox {
    display: inline-flex;
    background-color: #74b9ff;
    border-radius: 10px;

    img {
      height: 100px;
      width: 100px;
    }
  }

  .namebox {
    display: inline-flex;
    align-items: center;

    h1 {
      padding-left: 15px;
    }
  }

  .buttonbox {
    margin-left: auto;
    align-self: center;

    button {
      @extend %button;
      box-sizing: border-box;
      padding: 20px 40px;
      border: #ff7675 1px solid;
      background-color: #ffeaa7;
    }
  }
}
