<app-dialog *ngIf="openDialogEdit" [info]="msgEdit" (closeDialog)="toggleEdit()" (confirmed)="confirmedEdit()">
</app-dialog>
<app-dialog *ngIf="openDialogDelete" [info]="msgDelete" (closeDialog)="toggleDelete()" (confirmed)="confirmedDelete()">
</app-dialog>

<div class="icons">
  <div class="back">
    <i class="material-icons" [routerLink]="['/dashboard']" title="Navigate to dashboard">
      keyboard_backspace
    </i>
  </div>
  <div class="page">
    <i class="material-icons" (click)="backward()" title="Previous user">
      keyboard_arrow_left
    </i>
    <i class="material-icons" (click)="forward()" title="Next user">
      keyboard_arrow_right
    </i>
  </div>
  <div class="user">
    <i class="material-icons" (click)="enableEdit()" title="Edit user">
      edit
    </i>
    <i class="material-icons" (click)="deleteUser()" title="Remove user">
      remove
    </i>
  </div>
</div>

<div [ngSwitch]="edit">
  <form *ngSwitchCase="true" [formGroup]="user" (ngSubmit)="editUser()" class="edit">
    <button type="submit">Save</button>
    <p>{{ this.user.value.identity.id }}</p>
    <div formGroupName="personal">
      <div>
        <img [src]="this.user.value.personal.avatar === '' 
          ? 'assets/placeholder.png' 
          : this.user.value.personal.avatar" />
        <input type="text" formControlName="avatar">
      </div>
      <div>
        <label for="firstName">Firstname</label>
        <input type="text" formControlName="firstName">
      </div>
      <div>
        <label for="lastName">LastName</label>
        <input type="text" formControlName="lastName">
      </div>
    </div>
    <div formGroupName="identity">
      <div>
        <label for="email">E-mail</label>
        <input type="text" formControlName="email">
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" formControlName="password">
      </div>
    </div>
  </form>

  <div *ngSwitchDefault class="detail">
    <div class="h">
      <h3>ID:</h3>
      <p>{{ this.user.value.identity.id }}</p>
      <img
        [src]="this.user.value.personal.avatar === '' ? 'assets/placeholder.png' : this.user.value.personal.avatar" />
    </div>
    <div>
      <h3>E-mail: </h3>
      <p>{{ this.user.value.identity.email }}</p>
    </div>
    <div>
      <h3>Password: </h3>
      <p>{{ this.user.value.identity.password }}</p>
    </div>
    <div>
      <h3>Firstname</h3>
      <p>{{ this.user.value.personal.firstName }}</p>
    </div>
    <div>
      <h3>Lastname: </h3>
      <p>{{ this.user.value.personal.lastName }}</p>
    </div>
  </div>
</div>

<div class="info">
  <div>
    <h3>User created at: </h3>
    <p>{{this.user.value.data.created_at | date: 'long'}}</p>
  </div>
  <div>
    <h3>User updated at:</h3>
    <p>{{this.user.value.data.updated_at | date: 'long'}}</p>
  </div>
</div>