@import "../../../../global.scss";

$height: 50px;
:host {
  display: flex;
  height: 100%;
  margin: 5em 10em;
  padding: 100px;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;

  > div {
    width: 400px;
    align-self: center;
    text-align: left;
    box-sizing: border-box;
    
    i {
      font-size: 32px;
      cursor: pointer;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-self: center;
    
    div {
      margin: 5px 0;

      label {
        display: flex;
        color: $orange;
        font-size: 16px;
      }
      
      input {
        width: 100%;
        border: $grey 1px solid;
        border-radius: 10px;
        color: $dark;
        font-size: 16px;
        padding: 15px;
        box-sizing: border-box;
      }
    }

    .buttons {
      display: flex;
      justify-self: flex-end;
      flex-direction: column;

      > button {
        @extend %button;
        height: $height;
        width: 100%;
        border: none;
        font-size: 16px;
      }
    }
    > .in {
      margin: $height / 2 0;
      justify-content: center;
    }
  }
}
