<div>
  <i class="material-icons" [routerLink]="['/dashboard']" title="Back">
    keyboard_backspace
  </i>
</div>
<form [formGroup]="user" (ngSubmit)="submit()">
  <div>
    <label for="firstName">Firstname</label>
    <input type="text" formControlName="firstName" required />
  </div>
  <div>
    <label for="lastName">Lastname</label>
    <input type="text" formControlName="lastName" required />
  </div>
  <div>
    <label for="email">Email</label>
    <input type="text" formControlName="email" required />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" formControlName="password" required />
  </div>
  <div class="buttons">
    <button type="submit">Submit</button>
  </div>
  <div class="error">
    {{error}}
  </div>
</form>