@import "../../../global.scss";

:host {
  height: 100%;
  width: 100%;

  .col {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;

    .block {
      display: flex;
      align-items: center;
      align-self: flex-end;

      div {
        display: inline-flex;
        align-items: center;
        margin-right: 25px;

        p {
          display: inline-block;
          margin: 0 15px;
        }
      }
    }
    > button {
      @extend %button;
      display: flex;
      padding: 10px;
      width: 300px;
      font-size: 14pt;
      box-sizing: border-box;
      border: none;
      align-items: center;
      justify-content: center;

      i {
        margin-right: 5px;
      }
    }
  }
  .icons {
    i {
      cursor: pointer;
      user-select: none;
      font-size: 32pt;
      align-self: center;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-content: center;
    align-content: center;

    div {
      margin: 1em;
      padding: 1em;
      background-color: $grey;
      border-radius: 10px;
      text-align: center;
      cursor: pointer;

      &::before {
        content: "edit";
        display: flex;
        font-family: "Material Icons";
        justify-content: flex-end;
      }

      img {
        height: 100px;
        width: 100px;
      }
    }
  }
}
