<div class="col">
  <!-- <div class="params">
    <label>Limit </label>
    <input type="text" [(ngModel)]="limit" required />
  </div> -->
  <div class="icons">
    <div>
      <i class="material-icons" (click)="firstPage()" title="First page">
        first_page
      </i>
      <i class="material-icons" (click)="previousPage()" title="Previous page">
        chevron_left
      </i>
      <i class="material-icons" (click)="nextPage()" title="Next page">
        chevron_right
      </i>
      <i class="material-icons" (click)="lastPage()" title="Last page">
        last_page
      </i>
    </div>
    <div class="page">
      <i class="material-icons-outlined">
        insert_drive_file
      </i>
      {{page}} of the {{totalPages}}
    </div>
  </div>
  <button (click)="addUser()">Add user</button>
</div>

<div class="grid">
  <div *ngFor="let user of users | async" (click)="onSelect(user)">
    <p>{{user.firstName}} {{user.lastName}}</p>
    <img src='{{user.avatar}}' />
  </div>
</div>