$black: #080809;
$grey: #A8A19E;
$orange: #FC1607;
$clouds: #EFE2DC;
$white: #F5F5F5;
$dark: #54120B;


%button {
  box-sizing: border-box;
  border-radius: 5px;
  color: $clouds;
  background-color: $orange;
  cursor: pointer;
}